body {
    font-family: sans-serif;
    background: #080114;
    padding: 2rem;
    margin: 2rem;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(92, 168, 255);
}

.note-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

input textarea {
    padding: 0.6rem;
    border: 1px solid #0d0114;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    padding: 0.6rem;
    background: rgb(20, 82, 153);
    color: aliceblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    opacity: 0.85
}

h2 {
    color: white;
}